## Build artifacts
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.dbmdl
*.jfm
*.pfx
*.publishsettings

## Rider
.idea/
*.sln.iml

## User-specific files
*.rsuser
*.DotSettings.user

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## macOS
.DS_Store

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml

## Others
*.log
*.tmp
*.temp
